<%- include('./nav-bar.ejs') %>

<div id="wrapper">

    <%- include('./side-bar.ejs') %>

    <!-- Content -->
    <div id="content-wrapper">


        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Trang chính</a>
                </li>
                <li class="breadcrumb-item active">Tổng quan</li>
            </ol>
            
            <!-- Nội dung -->

        </div>
        <!-- /.content-wrapper -->

    </div>

</div>
<!-- /#wrapper -->

<%- include('./sticky-footer.ejs') %>