<!-- Sidebar -->
<ul class="sidebar navbar-nav">

    <ul class="sidebar navbar-nav">

        <li class="nav-item" id="nav-home">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-tachometer-alt"> </i>
                <span>Trang chính</span>
            </a>
        </li>
        <li class="nav-item" id="nav-booking">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-book"> </i>
                <span>Đặt phòng</span>
            </a>
        </li>
        <li class="nav-item" id="nav-use">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-outdent"> </i>
                <span>Đang sử dụng</span>
            </a>
        </li>
        <li class="nav-item" id="nav-room">
            <a class="nav-link" href="/admin/room/room-list">
                <i class="fas fa-fw fa-table"> </i>
                <span>Phòng</span>
            </a>
        </li>
        <li class="nav-item" id="nav-service">
            <a class="nav-link" href="/admin/service/list/service">
                <i class="fas fa-fw fa-table"> </i>
                <span>Dịch vụ</span>
            </a>
        </li>
        <li class="nav-item" id="nav-discount">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-table"> </i>
                <span>Giảm giá</span>
            </a>
        </li>
        <li class="nav-item" id="nav-bill">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-table"> </i>
                <span>Hóa đơn</span>
            </a>
        </li>
        <li class="nav-item" id="nav-account">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-table"> </i>
                <span>Tài khoản</span>
            </a>
        </li>
        <li class="nav-item" id="nav-customer">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-table"> </i>
                <span>Khách hàng</span>
            </a>
        </li>
    </ul>

    <script> $("#<%= check %>").addClass("active")</script>
</ul>