<!-- Sidebar -->
<ul class="sidebar navbar-nav">

    <ul class="sidebar navbar-nav">

        <li class="nav-item" id="home">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-tachometer-alt"> </i>
                <span>Trang chính</span>
            </a>
        </li>
        <li class="nav-item" id="booking">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-book"> </i>
                <span>Đặt phòng</span>
            </a>
        </li>
        <li class="nav-item" id="use">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-outdent"> </i>
                <span>Đang sử dụng</span>
            </a>
        </li>
        <li class="nav-item" id="room">
            <a class="nav-link" href="/admin/room/list?page=roomlist">
                <i class="fas fa-fw fa-table"> </i>
                <span>Phòng</span>
            </a>
        </li>
        <li class="nav-item" id="service">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-table"> </i>
                <span>Dịch vụ</span>
            </a>
        </li>
        <li class="nav-item" id="discount">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-table"> </i>
                <span>Giảm giá</span>
            </a>
        </li>
        <li class="nav-item" id="bill">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-table"> </i>
                <span>Hóa đơn</span>
            </a>
        </li>
        <li class="nav-item" id="account">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-table"> </i>
                <span>Tài khoản</span>
            </a>
        </li>
        <li class="nav-item" id="customer">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-table"> </i>
                <span>Khách hàng</span>
            </a>
        </li>
    </ul>

    <script> $("#<%= check %>").addClass("active")</script>
</ul>