<%- include('../nav-bar.ejs') %>

<div id="wrapper">

    <%- include('../side-bar.ejs') %>

    <!-- Content -->
    <div id="content-wrapper">


        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin">Trang chính</a>
                </li>
                <li class="breadcrumb-item">
                        <a href="/admin/room/list">Phòng</a>
                    </li>
                <li class="breadcrumb-item active">Sửa thông tin phòng</li>
            </ol>

            
        </div>
        <!-- /.content-wrapper -->
    </div>

</div>
<!-- /#wrapper -->

<%- include('../sticky-footer.ejs') %>